* {
    font-family: Arial, Helvetica, sans-serif;
 
}


/* Main Header */
#name {
    background: #4aaaa5;
    display:inline-block;
    margin-left:10px;
    padding: 10px;
    font-size:18pt;
    font-weight:bold;
    color:#fff;
}
.mainHeader {
    width: 100%;

    border-bottom:2px solid #bbb;
    padding-bottom: 2px;
}

nav {
    display: inline-block;
    font-size:14pt;
   position: absolute;
   right:10%;
    
}

a {
    color:#aaa;
    text-decoration: none; 
}

/* End Main Header */

.mainContent {
    background: #eee;
    /* width:960px; */
    /* height:70%;  */
    /* margin:0 auto; */
    padding:10px;
    height:100%;
}
.contentHeading {
    font-size:18pt;
    font-weight:bold;
    background:#ffF;
    margin-top:25px;
    padding:25px;
    color: #4aaaa5;
    border:1px solid black;
    

}
.divInside {
    height:90%;
    width:90%;
    margin:0 auto;
}

.content {
    /* height:700px; */
    background:#fff;
    margin-top:25px;
    padding-top:25px;
}

section {
    border:1px solid #fff;
    border-radius: 8px;
}

#headShot {
    width:200px;
    height:200px;
    background: green;
}

.formControl {
    padding:5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}  
    

.btnSubmit {
    background: #4aaaa5;
    font-size:12pt;
    padding:10px;
    color:#fff;
}

.txtBox {
    width:95%;
    margin-top:10px;
    margin-bottom:10px;
    height:25px;
}

.txtAreaBox {
    width:95%;
    height:200px;
    margin-top:10px;
    margin-bottom: 10px;
}

/* #mainText {
    float:right;
    width:500px;
    margin-right:150px;
    font-family: Arial, Helvetica, sans-serif;
} */
#column2 {
    width:65%;
    border:1px solid black;
    float:left;
}
.divThumbNail {
    width:180px;
    height:180px;
    float: left;
    margin-right: 30px;
    margin-left:20px;
}

.divThumbLabel {
    width:180px;
    background: #53d699;
    height:50px;
    position:relative;
    bottom:90px;
    opacity: 0.8;
    
}

.divThumbText {
    font-weight: bold;
    font-size:14pt;
    text-align: center;
    padding-top:15px;
}

.imgPortfolio {
    width:180px;
    height:140px;
}

.divBioImage {
   margin-left:20px;
}

.articleAbout {
  
    /* width:500px;
    position: absolute;
    bottom:205px;
    right:290px; */
}
#column1 {
    width:30%;
    border:1px solid black;
    float:left;
}
#info {
    padding:25px;
    line-height: 1.5;
}

#hobbies {
    padding-left:25px;
}

.divHeadBorder {
   border-bottom:4px solid #4aaaa5;
   width:100%;
   padding-top:20px;
}

.lblKey {
    color: #4aaaa5;
    font-weight:bold;
   
  
}

.lblVal {
    float:left;
}

.clearFix {
    clear:both;
}

table tr td {
    width:70px;
}
#mainText {
    width:50%;
    float:right;
    margin-right:200px;
    
}
.divBioImage {
    border:1px solid red;
    width: 200px;
    float:left;
}
.wrapper {
    height:100%;
    border:10px solid black;
}
@media screen and (max-width: 980px) {
    body {
        background: lightblue;
        width: 95%;
    }
    .mainHeader {
        /* width:80%; */
        background: #ccc;
    }
    nav {
        position:static;
        float:right;
    }
    .wrapper {
        width: 100%;
        border:10px solid green;
        height:100%;
    }
    .content {
        width:100%;
        border:1px solid blue;
    }
    #mainText {
        width:80%;
        float:left; 
        margin-right:20%;
        font-size:10pt;
        border:1px solid black;
        margin-left:10%;

    }
    .contentHeading {
        font-size:18pt;
        font-weight:bold;
        background:#ffF;
        margin-top:25px;
        padding:25px;
        color: #4aaaa5;
        border:1px solid black;
        width:95%;
    
    }
    .divBioImage {
        margin-left:20px;
        float:left;
        width:200px;
        margin-right:20px;
    }
    #hobbies {
        font-size:10pt;

    }

    #info {
        font-size:10pt;
        line-height:1.5;

    }
}
@media screen and (max-width: 768px) {
    body {
        background: green;
        width:90%;
    }
}
@media screen and (max-width: 640px) {
    body {
        background: blue;
    }
}